<p>sup let's sell some lemonade</p>

<% if current_user.games.any? %>
  <ul>
    <% current_user.games.each_with_index do |game, index| %>
      <li><%= link_to "Game #{index + 1}", game_path(game) %> - <%= number_to_currency game.current_money / 100.0 %></li>
    <% end %>
  </ul>
<% end %>

<%= button_to 'Start Game', games_path %>
